form {
  /* Center the form on the page */
  width: 400px;
  margin: 0 auto;
  /* Form Outline */
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

form div {
  margin-top: 1em;
}

form div label {
  /* Uniform size and alignment */
  width: 80px;
  display: inline-block;
  padding-right: 1em;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea, select {
  width: 280px;
  box-sizing: border-box;
  border: 1px solid #999;
  font:1em sans-serif;
  vertical-align: top;
}

input[type="submit"] {
  display: block;
  margin: 0 auto;
  padding: 10px;
}

.radioBtns label {
  padding: 5px;
  display: inline-block;
}